* {
  background-color: #0f172a;
  color: #94a3b8;
  margin: 0;
}

#header {
  text-align: left;
  position: fixed;
  top: 65px;
  left: 500px;
}

#header h1 {
  color: #e2e8f0;
  font-size: 48px;
}

#header h3 {
  position: relative;
  top: 10px;
  color: #dae0e9;
}

#header p {
  position: relative;
  top: 25px;
}

img {
  height: 40px;
  position: relative;
  top: 500px;
}

@media screen and (max-width: 1700px) {
  #header {
    position: fixed;
    top: 50px;
    left: 450px;
  }
}

@media screen and (max-width: 1440px) {
  #header {
    position: fixed;
    top: 50px;
    left: 350px;
  }
}

@media screen and (max-width: 1366px) {
  #header {
    position: fixed;
    top: 50px;
    left: 200px;
  }
}

@media screen and (max-width: 1280px) {
  #header {
    position: fixed;
    top: 50px;
    left: 150px;
  }
}
