/* ID of content Container */

#content {
  text-align: left;
  width: 575px;
  position: relative;
  top: 75px;
  left: 945px;
}

/* ID of line */

#about #line {
  position: fixed;
  top: 313px;
  left: 502px;
  border-bottom: #ffffff 1px solid;
  width: 75px;
}

/* ID of About Link */

#about h3 {
  color: #e2e8f0;
  position: fixed;
  top: 300px;
  left: 600px;
}

/* About Link Text Hover */

#about h3:hover {
  color: #ffffff;
}

/* Portfolio Heading Image */
#about a img {
  position: relative;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
}

/* About Link Text Hover */
#about a:hover {
  color: #4fc3b6;
}

/* About Link Text Image Hover */
#about a:hover img {
  top: -2px;
  left: 7px;
  content: url(../images/north-east-hover.png);
}

/* 
  Media Queries
*/

/* 1700px */
@media screen and (max-width: 1700px) {
  #content {
    position: relative;
    top: 60px;
    left: 850px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 550px;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 452px;
  }
}

/* 1440px */

@media screen and (max-width: 1440px) {
  #content {
    position: relative;
    top: 60px;
    left: 750px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 450px;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 352px;
  }
}

/* 1366px */

@media screen and (max-width: 1366px) {
  #content {
    position: relative;
    top: 60px;
    left: 700px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 300px;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 202px;
  }
}

/* 1280px */

@media screen and (max-width: 1280px) {
  #content {
    position: relative;
    top: 60px;
    left: 600px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 250px;
  }

  #about:a {
    pointer-events: none;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 152px;
  }
}
