#content {
  text-align: left;
  width: 500px;
  position: relative;
  top: 75px;
  left: 1000px;
}

#about h3 {
  color: #9c9c9c;
  position: fixed;
  top: 300px;
  left: 600px;
}

#about h3:hover {
  color: #ffffff;
}

#about p {
  word-wrap: break-word;
}

@media screen and (max-width: 1700px) {
  #content {
    position: relative;
    top: 60px;
    left: 850px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 550px;
  }
}

@media screen and (max-width: 1440px) {
  #content {
    position: relative;
    top: 60px;
    left: 750px;
    width: 400px;
  }

  #about h3 {
    position: fixed;
    left: 450px;
  }
}

@media screen and (max-width: 1366px) {
  #content {
    position: relative;
    top: 60px;
    left: 700px;
    width: 400px;
  }

  #about h3 {
    position: fixed;
    left: 300px;
  }
}

@media screen and (max-width: 1280px) {
  #content {
    position: relative;
    top: 60px;
    left: 600px;
    width: 400px;
  }

  #about h3 {
    position: fixed;
    left: 250px;
  }

  #about:a {
    pointer-events: none;
  }
}
