#content {
  text-align: left;
  width: 575px;
  position: relative;
  top: 75px;
  left: 945px;
}

#about #line {
  position: fixed;
  top: 313px;
  left: 502px;
  border-bottom: #ffffff 1px solid;
  width: 75px;
}

#about h3 {
  color: #9c9c9c;
  position: fixed;
  top: 300px;
  left: 600px;
}

#about h3:hover {
  color: #ffffff;
}

@media screen and (max-width: 1700px) {
  #content {
    position: relative;
    top: 60px;
    left: 850px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 550px;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 452px;
  }
}

@media screen and (max-width: 1440px) {
  #content {
    position: relative;
    top: 60px;
    left: 750px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 450px;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 352px;
  }
}

@media screen and (max-width: 1366px) {
  #content {
    position: relative;
    top: 60px;
    left: 700px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 300px;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 202px;
  }
}

@media screen and (max-width: 1280px) {
  #content {
    position: relative;
    top: 60px;
    left: 600px;
    width: 500px;
  }

  #about h3 {
    position: fixed;
    left: 250px;
  }

  #about:a {
    pointer-events: none;
  }

  #about #line {
    position: fixed;
    top: 310px;
    left: 152px;
  }
}
